<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title><%= title || 'Backoffice' %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/backoffice/products">Productos</a></li>
        <li><a href="/backoffice/categories">Categorías</a></li>
        <li><a href="/backoffice/sales">Ventas</a></li>
        <li><a href="/backoffice/users">Usuarios</a></li>
      </ul>
    </nav>
  </header>

  <main>
